<div class="page-content">
    <div class="container">
        <div class="header-container">
            <div class="logo">
                <img class="img-fluid" src="{{resturant.logo}}" (error)="resturant.logo = 'assets/images/logo.png'" >
                <h3> {{resturant.arName}}</h3>
            </div><!-- logo -->
        </div> <!-- header-container -->
        <div class="slider-container"> 
          <div class="owl-carousel owl-theme">
              <div class="item" *ngFor="let cat of resturant.categories">
                  <div class="item-content active">
                      <a href="#">
                          <img class="img-fluid" src="{{cat.categoryImage}}"  (error)="cat.categoryImage = 'assets/images/category.jpg'" >
                          <h4>{{cat.arName}}</h4>
                      </a>
                  </div> <!-- item-content -->
              </div> <!-- item -->
          </div> 
        </div> <!-- slider-container -->
        <div class="menu-container">
            <h3 class="text-center"> category name </h3>
            <div class="all-items"> 
              <div class="one-item" *ngFor="let it of items">
                  <div class="item-image"  [routerLink]="['/item']">
                      <img class="img-fluid" src="{{it.itemImage}}"  (error)="it.itemImage = 'assets/images/item.jpg'" >
                  </div> <!-- item-image -->
                  <div class="item-details">
                      <h4> {{it.arName}}</h4>
                      <p> <span class="price">  {{it.price}} </span> <span class="currency">EGP</span> </p>
                  </div> <!-- item-details -->
              </div> <!-- one-item --> 
        
            </div> <!-- all-items -->
        </div> <!-- menu-container -->
    </div> <!-- container -->
</div> <!-- page-content -->