body{
	color: #62534c;
	background-color: #fdf3ea;
	font-family: 'Roboto', sans-serif;
}

.h4, h4 {
    font-size: 1.2rem;
}

button:focus{
    outline: unset !important;
}

.container {
	padding: 0px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #000;
    text-decoration: none;
    outline: unset !important;
}

span {
    display: inline-block;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;


	.logo {
		padding: 20px 0;
		text-align: center;
		img{
			width: 100px;
		}
	}
}


.menu-container {
    border-top: 2px solid #f4d7ca;
    margin-top: 20px;
    padding-top: 10px;
	h3 {
		text-transform: capitalize;
	}
}


.slider-container{
	.owl-carousel{
		.item-content{
			text-align: center;
			text-transform: capitalize;
			border-radius: 10px;
			overflow: hidden;
			padding-bottom: 10px;

			a{
				color : #212529;
				&:hover{
					text-decoration:none;
				}
			}
			img{
				margin-bottom: 15px;
			}
		}

		.item-content.active {
			background: #fff;
			h4 {
				color: #f44336;
			}
		}

		.owl-nav {
		    position: absolute;
		    top: calc(50% - 8px);
		    left: 0;
		    z-index: 9999;
		    width: 100%;
		    margin: 0;
		    display: flex;
		    justify-content: space-between;

			button {
				position: absolute;
				i {
				    font-size: 12px;
				    background: #444;
				    width: 25px;
				    height: 25px;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				    border-radius: 55px;
				    color : #fff;
				}
			}
			button.owl-prev {
			    left: -15px;
			}
			button.owl-next{
			    right: -15px;				
			}
		}
	}
}


.all-items {
	margin: 20px 0;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
	padding: 15px;

	.one-item {
		display: flex;
		width: 49%;
		background-color: #fffdfb;
		border-radius: 15px;
		overflow: hidden;
		margin-bottom: 10px;
		.item-image {
		    width: 120px;
		}
		.item-details {
		    width: calc( 100% - 120px );
		    text-transform: capitalize;
		    padding: 10px;
			    font-size: 22px;
			span.price { 
			    font-weight: bold;
			}
			span.currency {
			}
		}
	}
}

@media (max-width: 600px) {

	.all-items {
		.one-item {
			width: 100%;
		}

	}
}

.slider-container {
    padding: 0 15px;
}

.view-one-item{
    position: relative;
	text-align: center;
	text-transform: capitalize;
	max-width: 800px;
	margin: auto;

	h4 {
		font-weight: bold;
	}
	
	.fa-chevron-left {
		position: absolute;
		top: 0;
		left: 0;
		background: RGBA(0 , 0 , 0 , 0.7);
		color: #fff;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		margin: 10px;
	}
	img {
		margin-bottom: 10px;
	}
	.sizes ul {
	    text-align: left;
	    list-style: none;
	    margin: 0;
	    li{
	    	position: relative;
	    	margin-bottom: 10px;
	    	&:after{
				content: "";
				position: absolute;
				top: 7px;
				left: -20px;
				background-color: #795548;
				width: 10px;
				height: 10px;
				border-radius: 20px;
	    	}
	    }
	}
}









//  RTL CODE

body {
    direction: rtl;
}

.owl-carousel.owl-theme.owl-loaded.owl-drag {
    direction: ltr;
}

.all-items .one-item .item-details {
    text-align: right;
}


.view-one-item .sizes ul {
    padding: 0;
    text-align: right;
}

.view-one-item .sizes ul li{

    padding-right: 30px;
}


.view-one-item .sizes ul li:after {
    left: unset;
    right: 10px;
}
